<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- MySQL Connect Parameter -->
    <add key="Server" value="localhost" />
    <add key="Database" value="mka" />
    <add key="Uid" value="root" />
    <add key="Password" value="mokkan" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>